$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// star OLX dependecies

@import "../app/styles/variables/variables.scss";
@import "../app/styles/media_queries/media_queries.scss";

// end OLX dependencies



/* Space out content a bit */
body {
  background-color: grayscale($olx-background-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

/* specific classes for olx */

footer {
  background-color: $olx-footer-background-color;
}

.olx-navbar {
  background-color: grayscale($olx-background-color);
  border-width: 0;
}

.olx-card {
  margin: 10%;
  background-color: white;
}

/* specific rule for img inside navbar-brand */
.navbar-brand>img {
  width: auto;
  margin: 0 auto;
  max-height: 100%;
  height: 100%;
}

.olx-footer-menu {
  @extend "pull-right";
}

#copyright {
  float: right;
}
