@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

$olx-background-color: rgb(211, 211, 211);

$olx-float-breakpoint: 992px;

$olx-footer-background-color: rgb(150, 150, 150);
